<style>
    .iframe {
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        width: 100%;
        height: 1800px;
        float: left;
        vertical-align: top;
        margin-top: -8px;
    }

    body {
        background-color: #eaeaea !important;
    }
</style>
<div>
    <iframe src="@ViewBag.url" class="iframe"></iframe>
</div>