<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="IISLogLayoutDebug" value="${longdate}|${level:upperCase=true}|${callsite:includeSourcePath=true}|${message}|${exception:format=ToString}${newline}" />
    <variable name="IISLogLayoutError" value="${longdate}|${level:upperCase=true}|${message}|${exception:format=ToString}${newline}" />
    <variable name="IISLogLayout" value="${longdate}|${level:upperCase=true}|${callsite:includeSourcePath=true}|${message}|${exception:format=type,message,method:maxInnerExceptionLevel=1:innerFormat=shortType,message,method}${newline}" />
    <targets>
      <target name="logfileDebug" xsi:type="File" layout="${IISLogLayoutDebug}" fileName="${basedir}/logs/Trace/${date:format=yyyy-MM-dd}.log" />
      <target name="logfile" xsi:type="File" layout="${IISLogLayout}" fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log" />
      <target name="logfileError" xsi:type="File" layout="${IISLogLayoutError}" fileName="${basedir}/logs/Error/${date:format=yyyy-MM-dd}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="logfileDebug" />
      <logger name="*" levels="Error,Fatal" writeTo="logfileError" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="frmID_RPM-MAYOR" value="http://localhost:60090/Formularios/rpm.aspx" />
    <add key="frmID_RPM-MENOR" value="http://localhost:59162/Formularios/RPM.aspx" />
    <add key="frmID_RPC" value="http://localhost:61309/Formularios/RPC.aspx" />
    <add key="xHash.semilla" value="s2rn1g24m4n" />
    <add key="vigenciaTokenRequest" value="10" />
    <add key="timeout_validar_Url" value="30000" /><!--Configuración en milisegundos-->

    <!--CONFIGURACION API SUPER-->
    <add key="api_key_super" value="CU8Y12JMCWHOPPOGN2EMHLOZ88XZ1N" />
    <add key="chile_atiende_id" value="AS004" />
    <!--<add key="api_Super_BaseUri" value="https://misuper.magnet.cl/api/v1" />-->   <!--QA-->
    <add key="api_Super_BaseUri" value="https://super.gob.cl/api/v1" />    <!--PROD-->
    
    
    <!--CONFIGURACION API SIMPLE NOTIFICACION-->
    <!--<add key="url_simple_notificar" value="https://admin.simple.digital.gob.cl/backend/api/estados/" />-->   <!--QA--> 
    <add key="url_simple_notificar" value="https://admin.simple.digital.gob.cl/backend/api/estados/" />  <!--PROD-->
    <!--Token Simple-->
    <add key="token_simple" value="token_rst" />
    <!--timer para reintendos solicitudes web api-->
    <add key="timer_web_api" value="15000" />
    <!--en milisegundos-->
    
    <!--CONFIGURACION JWT BEARER TOKEN AUTHORIZATION-->
    <!--clave-secreta-api-->
    <add key="JWT_SECRET_KEY" value="bDqnyT1rHOQGEPUtfJpBZYpTtp85M9XyRjy8sPNbwi5BX6t794rv65DK" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost/WebApiProxy" />
    <add key="JWT_ISSUER_TOKEN" value="http://localhost/WebApiProxy" />
    <add key="JWT_EXPIRE_MINUTES" value="120" />
    
    <add key="bearer_api_key" value="super" />
    <add key="bearer_api_secret" value="Cnuafy42OVFJnfV" />
    <!--CONFIGURACION BASIC AUTHORIZATION-->
    <add key="basic_api_key" value="sngm" />
    <add key="basic_api_secret" value="4Najtf3lWe14rUL" />

    <!--CONFIGURACION JOB NOTIFICACION ESTADO-->
    <add key="activar_notificacion_estado" value="false" />
    <!--En minutos-->
    <add key="intervalo_job" value="1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="ConexionStr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NotificacionesProveedor;Persist Security Info=True;User ID=sa;Password=qwerty" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtlasSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://simin.sernageomin.cl:80/atlas/Atlas" binding="basicHttpBinding" bindingConfiguration="AtlasSoapBinding" contract="WSAtlas.Atlas" name="AtlasImplPort" />
    </client>
  </system.serviceModel>
</configuration>
